$backgroud-color-dashbord: rgb(20, 20, 20);
$white-font: rgb(221, 231, 238);
$yellow-hover: rgb(17, 96, 176);
$red-text: rgb(17, 96, 176);
$service-hover: rgba(16, 114, 212, 0.3);
$nav-color: rgb(21, 20, 20);
$aboutme-hover: rgba(16, 114, 212, 0.3);
